.pwle-header {
    margin-bottom: 2em;
}

.pwle-title-container {
    display: inline-block;
    vertical-align: baseline;
}

.pwle-share-container {
    display: inline-block;
    margin-left: 10em;
}

.pwle-heading {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 1.5em;
}

.pwle-heading-step {
    font-weight: 300;
    font-size: 0.4em;
    margin-bottom: 6px;
    opacity: 0.7;
}

.pwle-title {
    margin-top: 10px;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 2.0em;
}

.pwle-credits {
    float: right;
    opacity: 0.75;
}

.pwle-version {
    float: left;
    font-size: 0.8em;
    opacity: 0.25;
}

.pwle-pull-right {
    float: right;
}

.pwle-link {
    text-decoration: none;
}

.pwle-activation-error {
    color: red;
    font-weight: bold;
    font-size: 1.25em;
    margin-top: 32px;
    margin-bottom: 16px;
}

.pwle-spinner {
    height: 20px;
    width: 20px;
}

.pwle-wait {
    position: absolute;
    z-index: 1;
}

.pwle-bordered-container {
    min-width: 600px;
    display: inline-block;
    border-color: #CCCCCC;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    background-color: #FFFFFF;
    padding: 32px;
}

.pwle-table {
    background-color: #FFFFFF;
    border-spacing: 0;
}

.pwle-table th, td {
    padding: 0.5em 1.0em;
    vertical-align: top;
}

.pwle-table th {
    text-align: left;
    font-weight: 600;
    padding: 0.5em 1.0em;
    background-color: #CCCCCC;
}

.pwle-table td {
    font-size: 1.1em;
}

.pwle-input-label {
    display: block;
    margin-top: 1.5em;
    font-weight: 600;
    font-size: 1.2em;
}

.pwle-input {
    font-size: 1.25em;
    font-weight: 600;
}

.pwle-input-number {
    width: 75px;
}

#pwle-wizard-step-saving {
    display: inline-block;
}

.pwle-wizard-button-container {
    margin-top: 3.0em;
}

.pwle-wizard-error {
    color: red;
    text-align: center;
}

.pwle-wizard-next-previous-button {
    /*background-color: #0086B7;
    color: #FFFFFF;*/
    color: #0086B7;
    border-style: solid;
    border-width: 1px;
    border-color: #0086B7;
    border-radius: 6px;
    font-size: 1.75em;
    padding: 0.5em 1.0em;
    text-decoration: none;
}

.pwle-wizard-next-previous-button:hover {
    cursor: pointer;
    background-color: #E1F1F7;
}

.pwle-wizard-next-button, .pwle-wizard-previous-button, .pwle-wizard-finish-button, .pwle-wizard-save-button {
    float: right;
    margin-left: 1.0em;
}

.pwle-wizard-finish-button {
    color: #FFFFFF;
    border-color: #33CC33;
    background-color: #33CC33;
}

.pwle-wizard-finish-button:hover {
    border-color: #5AD661;
    background-color: #5AD661;
}

.pwle-delete-link {
    color: red;
    opacity: 0.5;
    margin-left: 3.0em;
}

.pwle-grow {
    transition: all .1s ease-in-out;
}

.pwle-grow:hover {
    transform: scale(1.05);
}

.pwle-noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.pwle-object-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.pwle-object {
    width: 140px;
    height: 100px;
    margin: 0 1.5em;
    border-radius: 6px;
    color: #FFFFFF;
    transition: all .1s ease-in-out;
}

.pwle-object-selected {
    opacity: 1.0;
    transform: scale(1.2);
}

.pwle-object:hover {
    opacity: 0.9;
    cursor: pointer;
}

.pwle-object-text {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 10px;
}

.pwle-object-icon {
    margin-top: 10px;
    font-size: 2.5em;
}

.pwle-object-filters, .pwle-object-fields {
    color: #000000;
    padding: 0.7em;
    margin: 1.0em 0;
    border-radius: 6px;
}

.pwle-object-filters-header, .pwle-object-fields-header {
    font-size: 1.5em;
    font-weight: 600;
    margin: 4px 0 8px 4px;
    color: #FFFFFF;
}

.pwle-object-filters-container, .pwle-object-fields-container {
    background-color: #FFFFFF;
    padding: 1.5em;
    border-radius: 3px;
}

.pwle-object-field-label {
    display: inline-block;
    margin: 8px;
    padding-right: 1.0em;
    font-size: 1.1em;
}

.pwle-filter-title {
    margin-top: 0.5em;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 1.3em;
}

.pwle-filter {
    display: inline-block;
    margin-right: 8px;
    font-size: 1.1em;
}

.pwle-filter-checkbox {
    display: inline-block;
    margin: 8px;
    font-size: 1.1em;
}

.pwle-filter-product-categories {
    width: 100% !important;
    height: 15em !important;
    border-style: line;
    border-width: 1px;
    border-color: #999999;
}

.pwle-export-buttons {
    margin-top: 3.0em;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

.pwle-save-config-container {
    margin-top: 4.0em;
    margin-bottom: 2.0em;
    text-align: center;
}

.pwle-export-button {
    display: inline-block;
}

.pwle-export-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.pwle-export-button-large {
    margin: 0 2.0em;
}

.pwle-export-button-large > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1.0;
    width: 114px;
    height: 114px;
    border-radius: 20px;
    color: #FFFFFF;
}

.pwle-quick-export-button {
    margin: 0 0.25em;
}

.pwle-quick-export-button > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1.0;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    color: #FFFFFF;
}

.pwle-export-processing {
    margin-top: 1.0em;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

#pwle-export-processing-icon {
    margin: 0.75em 0;
}

.pwle-export-processing-message {
    font-weight: 600;
    color: green;
    font-size: 2.0em;
}

.pwle-export-cancel-export-button {
    margin-top: 1.5em !important;
}

.pwle-export-title {
    width: 50%;
}

.pwle-export-title-container {
    margin-bottom: 4.0em;
}

.pwle-export-title-help {
    font-size: 0.8em;
}

.pwle-checkbox-checked {
    font-weight: 600;
    font-size: 1.1em;
}

.pwle-screen-export-table-title {
    font-weight: 600;
    font-size: 2.0em;
    margin-top: 1.0em;
    margin-bottom: 0.25em;
}

.pwle-screen-export-table {
    display: inline-block;
    text-align: left;
    border-collapse: collapse;
}

.pwle-screen-export-table th, .pwle-screen-export-table td {
    border: 1px solid #666666;
    padding: 6px;
    vertical-align: top;
}

.pwle-screen-export-table tr {
    background-color: #FFFFFF;
}

.pwle-screen-export-table tr:hover {
    background-color: #FFFFE1;
}

.pwle-screen-export-table th {
    color: white;
    text-align: left;
    white-space: nowrap;
}

.pwle-inner-addon {
    position: relative;
    display: inline-block;
}

.pwle-inner-addon .pwle-glyphicon {
    position: absolute;
    padding: 7px;
    pointer-events: none;
    color: #999999;
}

.pwle-object-fields-search-container {
    float: left;
    margin-left: 8px;
}

.pwle-show-all-fields-container {
    margin-left: 8px;
    color: #666666;
}

.pwle-object-fields-select-container {
    float: right;
    font-size: 1.0em;
    font-weight: initial;
}

.pwle-left-addon .pwle-glyphicon  { left:  0px;}
.pwle-right-addon .pwle-glyphicon { right: 0px;}
.pwle-left-addon input  { padding-left:  30px; }
.pwle-right-addon input { padding-right: 30px; }

@media print {
    #wpcontent {
        margin-left: 0 !important;
    }

    .pwle-share-container, .pwle-wizard-step, .pwle-print-button, #adminmenumain, #wpfooter, #pwle-main-content {
        display: none !important;
    }
}

/*
 Make sure .pwle-hidden is always the last entry
 in the .css file so it doesn't get overruled by
 a later rule.
*/
.pwle-hidden {
    display: none !important;
}
